@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Mountains+of+Christmas:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mountains of Christmas';
  
  }

  
.title{
  padding: 1rem;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  letter-spacing: 10px;
  font-size: 5rem;

}

.bg-gift{
  background: #fafafa;
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.75);
  width: 40%;
}

.bg-navidad {
  background: center / cover no-repeat url("../../media/examples/firefox-logo.svg"),
  #03512a 35% url(https://i.ibb.co/kBvvzX8/bggg.png);
  box-shadow: 0px 0px 210px 27px rgba(0, 0, 0, 0.575) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
}

.list-item {
  background: #03512a;
  color: #fff;
  padding: 1rem;
  gap: 1rem;
  border-radius: .3rem;
  width: 90%;
}

.form{
  width: 100%;
  margin-bottom: 1rem;
  background-color: #03512a;
  color: #fff;
  border-radius: .3rem;
}

.css-hf7eew-MuiInputBase-root-MuiOutlinedInput-root{
  width: 100%;
}

.img-santa{
  width: 200px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.img-munieco{
  width: 200px;
  position: absolute;
  bottom: 20%;
  left: 70%;
}